# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.py text eol=lf
*.pyx text eol=lf
*.pxd text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf
*.tex text eol=lf
*.bib text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.h5 binary
